# Ignore all contents of /data/
data/*
!data/.gitkeep

# ...other ignore rules as before...
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.manifest
*.spec
debug.log
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
.ipynb_checkpoints
.python-version
.mypy_cache/
.dmypy.json
.DS_Store
Thumbs.db
source/
FairVFL_debug_results.npy
*.log
.idea/
*.ipynb
*.csv
.venv
debug.py
update_repo.sh
new_branch.sh
remove_branch.sh
FairVFL_results.npy
STATUS_CONFIG_README.md
status_config.py
